html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px !important;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  top:0;
  left: 0;
  background: #ffffff;
  z-index:9999;
}

table {
  padding: 0.75rem;
  width: 100%;
  font-family: Arial, sans-serif;
  border-collapse: collapse;
}

table th {
  font-weight: 400;
  padding-bottom: 0.25%;
}

span {
  cursor: pointer;
}

span:hover {
  color: lime;
  transition: ease 0.15s;
}

.toggle {
  border-top: 1px solid black;
  cursor: pointer;
}

.toggle:hover {
  color: lime;
  transition: ease 0.15s;
}

td {
  padding-top: 0.25%;
  padding-bottom: 1.25%;
  vertical-align: top;
}

thead {
  text-align: left;
}

#number {
  width: 5%;
  padding-left: 0.5%;
  outline: none;
}

#role {
  width: 15%;
  outline: none;
}

#project {
  width: 40%;
  outline: none;
}

#credits {
  width: 30%;
  outline: none;
}

#year {
  width: 10%;
  padding-right: 0.5%;
  text-align: right;
  outline: none;
}

/* unvisited link */
a:link {
  color: black !important;
  text-decoration: none !important;
}

/* visited link */
a:visited {
  color: black !important;
  text-decoration: none !important;
}

/* mouse over link */
a:hover {
  color: lime !important;
  text-decoration: none !important;
  transition: ease 0.15s;
}

/* selected link */
a:active {
  color: lime !important;
  text-decoration: none !important;
  transition: ease 0.15s;
}

/* ####################################### HEADER ####################################### */

.sticky-top {
  background: white;
  position: sticky !important;
  width: 100% !important;
  top: 0 !important; */
}

.container-header {
  padding-left: 5%;
  padding-bottom: 1%;
}

#title {
  cursor: pointer;
}

#title:hover {
  color: lime;
  transition: ease 0.15s;
}

.header-text {
  cursor: pointer;
}

.header-text:hover {
  color: lime;
  transition: ease 0.15s;
}

#sidebar {
  display: none;
  top: 0;
  left: 0;
  padding-top: 1.5%;
  padding-left: 5%;
  border-right: 1px solid black;
  position: fixed;
  width: 29%;
  height: 100vh;
  background-color: white;
}

#sidebar-title {
  cursor: pointer;
}

.sidebar-header {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-right: 4%;
}

#sidebar-close {
  width: 8%;
  cursor: pointer;
}

.sidebar-info {
  padding-right: 12%;
}

/* ####################################### MAIN TABLE ####################################### */

.btn {
  width: 100%;
  text-align: left;
  margin: 0 !important;
  padding: 0 !important;
  color: black !important;
  text-decoration: none !important;
}

#button-about:focus,
#button-about:active {
  outline: none !important;
  box-shadow: none;
}

#searchInput:focus,
#searchInput:active {
  outline: none !important;
  box-shadow: none;
}

#img-project {
  height: 80px;
  margin: 2px 0;
}
/* .container-img {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  column-gap: 2%;
  row-gap: 1%;
} */

/* #projects-container {
  margin: 1%;
} */

.link-credits {
  cursor: alias !important;
  text-decoration: none !important;
  color: black !important;
}

/* MOBILE MOBILE MOBILE*/

.carousel {
  padding-top: 10%;
  padding-bottom: 5%;
}


ol.carousel-indicators {
  position: absolute;
  bottom: -25px;
  margin-top: 0;
  left: 0;
  right: 0;
  width: auto;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
  float: left;
  margin: 5px !important;
  height: 5px;
  width: 5px;
  border-radius: 100%;
  border: 1px solid black;
  background: transparent;
}

ol.carousel-indicators li.active {
  background: black;
}

#number-mobile {
  width: 10%;
  padding-left: 0.5%;
  outline: none;
}

#project-mobile {
  width: 80%;
  padding-left: 0.5%;
  outline: none;
}

#year-mobile {
  width: 10%;
  padding-left: 0.5%;
  text-align: right;
  outline: none;
}


/* *** MEDIA QUERY *** */


@media only screen and (max-width: 600px) {

    html, body {
      font-size: 15px !important;
    }

    .main-mobile {
      padding-top: 5%;
    }

    .card-body {
      margin: 0 !important;
      padding: 0 !important;
    }

    .container-details>div {
      padding-right: 5px;
      text-justify: inter-word !important;
    }

    .container-header {
      display: grid;
      grid-template-columns: 5% 95%;
    }

    #sidebar {
      display: none;
      top: 0;
      left: 0;
      padding-top: 0.5%;
      padding-left: 10%;
      border-right: 1px solid black;
      position: fixed;
      width: 35%;
      height: 100vh;
      background-color: white;
    }

  }
